.DeliveryTerms{
	padding: 2.4rem 0;
}
.DeliveryTerms .container{
	
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	padding-top: 1.8rem;
}
.DeliveryTerms .container ul{
	-ms-flex-preferred-size: 300px;
	    flex-basis: 300px;
	-ms-flex-positive: 1;
	    flex-grow: 1;
	padding-left: 0;
	padding-left: 1.3rem;
}
.DeliveryTerms .container ul li{
	font-size: 1.8rem;
	margin-bottom: 2.2rem;
	line-height: 1.2;
	max-width: 383px;
}
